version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: weather_postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - weather_dwh_network

volumes:
  postgres_data:

networks:
  weather_dwh_network:
    driver: bridge

