name: CI

on:
  push:
    branches: ["main", "master"]
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install "poetry==1.8.3"

      - name: Install dependencies (main + dev)
        run: |
          poetry install

      - name: Run Ruff (linter)
        run: |
          poetry run ruff check .

  test:
    name: Tests
    runs-on: ubuntu-latest
    needs: [lint]
    continue-on-error: true  # сделать тесты "опциональными"

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install "poetry==1.8.3"

      - name: Install dependencies (main + dev)
        run: |
          poetry install

      - name: Run tests (pytest)
        run: |
          poetry run pytest
