name: CI

on:
  push:
    branches: ["main", "master"]
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install ${{ matrix.python-version }}

      - name: Install dependencies (main + dev)
        run: uv sync

      - name: Run Ruff (linter)
        run: uv run ruff check .

  test:
    name: Tests
    runs-on: ubuntu-latest
    needs: [lint]
    continue-on-error: true  # сделать тесты "опциональными"

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install ${{ matrix.python-version }}

      - name: Install dependencies (main + dev)
        run: uv sync

      - name: Run tests (pytest)
        run: uv run pytest
